


<div class="container" id="container">
	
	<div class="form-container sign-in-container">
		<form #f="ngForm" (ngSubmit)="login(f)">
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fa fa-facebook"></i></a>
				<a href="#" class="social"><i class="fa fa-google-plus"></i></a>
				<a href="#" class="social"><i class="fa fa-linkedin"></i></a>
			</div>
			<span>or use your account</span>
			<input ngModel name="email" #email="ngModel" type="email" class="form-control" placeholder="Email" required email/>
			<div class="alert alert-danger" *ngIf="email.touched && email.errors?.required">Email is required</div>
			<div class="alert alert-danger" *ngIf="email.touched && email.errors?.email">Your input doesn't match email format</div>
			<input ngModel name="password" #password="ngModel" type="password" class="form-control" placeholder="Password"
			required minlength="6" />
			<div class="alert alert-danger" *ngIf="password.touched && password.errors?.required">Password is required</div>
    <div class="alert alert-danger" *ngIf="password.touched && password.errors?.minlength">Password should be 6+
      charachters</div>
			<a href="#">Forgot your password?</a>
			<button [disabled]="f.invalid">Sign In</button>
		</form>
		<br>
		<div class="alert alert-danger" *ngIf="loginError">
		  {{ loginError }}
		</div>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" routerLink="/signup" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>


